/**
 * Settings - Colors
 *******************
 */
.text-white {
  color: #FFFFFF;
}
.text-black {
  color: #000000;
}
.text-dodger-blue {
  color: #5284FF;
}
.text-tickle-pink {
  color: #FB94B7;
}
.text-bali-hai {
  color: #8492AF;
}
.background-white {
  background-color: #FFFFFF !important;
}
.background-biscay {
  background-color: #1D3162 !important;
}
.background-dodger {
  background-color: #5584FF !important;
}
