/**
 * Settings - Colors
 *******************
 */

 @white-color: #FFFFFF;
 @black-color: #000000;
 @biscay-color: #1D3162;
 @dodger-color: #5584FF;
 @azure-color: #3453A1;
 @bunting-color: #0E1A35;
 @mytic-color: #E1E5EC;

 .text-white{color: #FFFFFF};
 .text-black{color: #000000};

 .background-white{background-color: #FFFFFF !important}
 .background-biscay{background-color: #1D3162 !important};