/**
 * Settings - Colors
 *******************
 */

 @white-color: #FFFFFF;
 @black-color: #000000;
 @biscay-color: #1D3162;
 @dodger-color: #5584FF;
 @azure-color: #3453A1;
 @bunting-color: #0E1A35;
 @mytic-color: #E1E5EC;

 .text-white{color: #FFFFFF};
 .text-black{color: #000000};
 .text-dodger-blue{color: #5284FF};
 .text-tickle-pink{color: #FB94B7};
 .text-bali-hai{color: #8492AF};

 .background-white{background-color: #FFFFFF !important}
 .background-biscay{background-color: #1D3162 !important};
 .background-dodger{background-color: #5584FF !important};