/**
 * Settings - Typography
 ***********************
 */

.text-normal{
  font-weight: normal !important;
}

.text-medium{
  font-weight: 500 !important;
}

.text-semibold{
  font-weight: 600 !important;
}

.text-bold{
  font-weight: 700 !important;
}

.text-uppercase{
  text-transform: uppercase;
}

.text-italic{
  font-style: italic !important;
}

.text-underline{
  text-decoration: underline !important;
}

.text-strike{
  text-decoration: line-through !important;
}
