/**
 * Modules - Layout #1's Header
 ******************************
 */

// .layout-base-1 {
//   #header{}
// }

#header {
  background-image: url('@{image-uri-base}/pages/home/header__background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  .container {
    .clearfix;

    position: relative;
    padding-bottom: 655px;

    //@FIXED: Wrong naming convention
    > .menu-bar {
      > #header__menu_bar_1 {
        .pull-left;

        margin-left: -139px;
        margin-top: 64px;
        width: 300px;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('@{image-uri-base}/logo.png');
        background-size: 236px auto;
        text-indent: -9999px;
      }

      > #header__menu_bar_2 {
        .list {
          .pull-right;

          padding-top: 87px;
          margin-right: -111px;

          a {
            .text-white;
            .font-roboto-regular;

            font-size: 18px;

            &:hover {
              text-decoration: none;
            }

            &.button {
              font-size: 18px;
              padding: 10px 40px 14px 43px;
              // border: 2px solid @color-biscay-blue;
              &:hover {
                background-color: @color-biscay;
              }
            }
          }

          #header_menu_bar_2__item_1 {
            margin-right: 45px;
          }

          #header_menu_bar_2__item_2 {
            margin-right: 45px;
          }

          #header_menu_bar_2__item_3 {
            margin-right: 51px;
          }

          #header_menu_bar_2__item_4 {
            margin-right: 44px;
          }
        }
      }

      #header__responsive_menu {
        display: none;
      }
    }

    img {
      width: 2000px;
      height: auto;
      position: absolute;
      top: 200px;
      left: -247px;
      margin: auto;
    }

    #header__body {
      position: relative;
      top: 70px;

      .text-center;

      .title {
        .text-white;
        .font-roboto-thin;

        font-size: 60px;
      }

      #header__body__title {
        padding-top: 120px;
      }

      #header__body__text {
        .text-white;
        .font-roboto-regular;

        margin-top: -1px;
        font-size: 36px;
      }

      a {
        .text-white;
        .font-roboto-bold;
        .background-dodger;

        margin-top: 76px;
        font-size: 18px;
        display: inline-block;
        line-height: 50px;
        padding: 0 57px;
        border-radius: 30px;
      }

      img {
        width: 882px;
        height: auto;
        position: absolute;
        top: 536px;
        left: 0;
        right: 0;
        margin: -68px auto;
      }
    }
  }

  @media screen and (max-width: @screen-xs-max) {
    // overflow-x: hidden;
    .container {
      padding-bottom: 300px;

      > .menu-bar {
        line-height: 40px;

        #header__menu_bar_1 {
          margin-left: -89px;
          margin-top: 10px;
          background-size: 115px auto;
          background-position: 90px 0;
        }

        #header__menu_bar_2 {
          .list {
            padding-top: 0;

            .item {
              display: none;
            }

            .item:hover {
              opacity: 0.5;
              cursor: pointer;
            }

            .sidebar-overlay {
              &.button {
                .btn;
                .text-white;

                margin-top: 5px;
                margin-left: -150px;
                font-size: 24px;
              }

              &.button:hover {
                .text-dodger-blue;
              }
            }
          }
        }

        #header__responsive_menu {
          display: block;
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 99;
          top: 0;
          right: 0;
          background-color: #111;
          overflow-x: hidden;
          padding-top: 60px;
          transition: 0.5s;

          a {
            .text-white;
            .text-center;

            padding: 8px;
            margin: 5px;
            text-decoration: none;
            font-size: 18px;
            display: block;
            transition: 0.5s;
            border-bottom: 1px @color-dodger solid;
          }

          a:hover {
            .text-dodger-blue;
          }

          .close-button {
            position: absolute;
            top: 0;
            right: 25px;
            margin-left: 50px;
            font-size: 36px;
            border: none;
          }
        }
      }

      img {
        max-width: 100%;
        height: auto;
        left: 0;
        top: 100px;
      }

      #header__body {
        top: 50px;

        #header__body__title {
          padding-top: 50px;
          font-size: 36px;
        }

        #header__body__text {
          font-size: 24px;
        }

        #header__body__button {
          margin-top: 16px;
        }

        img {
          top: 456px;
        }
      }
    }
  }
}
