/**
 * Modules - Layout #1's Header
 ******************************
 */

.layout-base-1{
  #header{}
}

.layout-base-1{
}

#header{
    background-image: url('@{image-uri-base}/pages/home/header__background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
  .container{
    .clearfix;
    position: relative;
    padding-bottom: 584px;
    >.menu_bar {
      height: 68px;
      width: auto;
    }
    #header__menu_bar_1{
      .pull-left;
      width: 300px;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url('@{image-uri-base}/logo.png');
      background-size: 236px auto;
      margin-left: -139px;
      margin-top: 64px;

      text-indent: -9999px;
    }
    #header__menu_bar_2 {
      .list {
        .pull-right;
        padding-top: 87px;
        margin-right: -111px;
        a{
          .text-white;
          .font-roboto-regular;
          
          font-size: 18px;
          &:hover {
            text-decoration: none;
          }
          &.button {
            font-size: 18px;
            padding: 10px 40px 14px 43px;
            // border: 2px solid @color-biscay-blue;
            &:hover {
              background-color: @biscay-color;
            }
          }
        }

        #header_menu_bar_2__item_1{
          margin-right: 45px;
        }

        #header_menu_bar_2__item_2{
          margin-right: 45px;
        }

        #header_menu_bar_2__item_3{
          margin-right: 51px;
        }

        #header_menu_bar_2__item_4{
          margin-right: 44px;
        }

        #header_menu_bar_2__item_5{
          // margin-right: 1px;
        }
      }
    }
    img{
      width: 2000px;
      height: auto;
      position: absolute;
      top: 200px;
      left: -272px;
      margin: auto;
    }
    #header__body {
      .text-center;
      .title {
        .text-white;
        .font-roboto-thin;
        font-size: 60px;
      }
      #header__body__title{
        padding-top: 190px;
      }
      #header__body__text{
        .text-white;
        .font-roboto-regular;
        font-size: 36px;
        margin-top: -1px;
      }
      a {
        .text-white;
        .font-roboto-bold;
        .background-dodger;
        font-size: 18px;
        display: inline-block;
        line-height: 50px;
        margin-top: 76px;
        padding: 0 57px;
        border-radius: 30px;
        
        &.button {
        }
      }
      img {
        width: 886px;
        height: auto;
        position: absolute;
        top: 607px;
        left: 0;
        right:0;
        margin: auto;
      }
    }
  }
}
