/**
 * Pages - Home
 **************
 */

// .page-home {
//   .section {
//     &#section_1{}
//     &#section_2{}
//     &#section_3{}
//     &#section_4{}
//     &#section_5{}
//   }
// }

.page-home {
  .section {
    > .container {
      > .title {
        .text-center;
        .font-roboto-thin;

        font-size: 60px;
      }

      > .description {
        font-size: 18px;
      }
    }

    &#section_1 {
      .text-center;

      > .container {
        > .list {
          .row;

          padding-top: 193px;

          > .item {
            .make-md-column(4);

            > .thumbnail {
              img {
                width: 180px;
                height: auto;
              }
            }

            > .title {
              .font-roboto-bold;

              margin-top: 6px;
              font-size: 24px;
              letter-spacing: 0.4px;
            }

            > .description {
              .font-roboto-regular;
              .text-bali-hai;

              margin-top: 18px;
              font-size: 18px;
              letter-spacing: 0.1px;
              line-height: 29px;
            }

            > .button {
              .font-roboto-bold;
              .text-black;

              display: inline-block;
              margin: 48px 0 57px 0;
              padding: 0 87px;
              border: 2px solid @color-mytic;
              border-radius: 80px;
              font-size: 18px;
              text-decoration: none;
              line-height: 50px;
            }
          }

          #section_1__item_1 {
            padding-left: 41px;
          }

          #section_1__item_2 {
            > .thumbnail {
            }

            > .title {
            }
          }

          #section_1__item_3 {
            > .thumbnail {
              img {
              }
            }

            > .title {
            }
          }
        }
      }
    }

    &#section_2 {
      .font-roboto-regular;

      > .container {
        position: relative;
        padding-bottom: 83px;

        > .list {
          .row;

          > .item {
            .make-md-column(6);

            > .description {
              .pull-left;

              > .title {
                .font-roboto-thin;

                padding-top: 220px;
                font-size: 60px;
              }

              > .text {
                .text-bali-hai;

                margin: 32px 0;
                font-size: 18px;
                line-height: 31px;

                &#section_2__text_1 {
                  letter-spacing: -0.1px;
                }

                &#section_2__text_2 {
                  margin-top: -5px;
                  margin-bottom: 36px;
                  line-height: 31px;
                  letter-spacing: -0.1px;
                }
              }

              > .checkbox {
                .text-dodger-blue;

                margin: 53px 2px 52px 2px;
                letter-spacing: -0.1px;
                font-size: 22px;

                img {
                  width: 28px;
                  height: auto;
                  vertical-align: middle;
                }

                span {
                  margin-left: 10px;
                }
              }

              > .checkbox:last-child {
                margin-top: -22px;

                img {
                  margin-top: -3px;
                }
              }
            }

            #section_2__picture {
              // position: absolute;
              padding-top: 160px;
              margin-left: -60px;

              img {
                width: 1047px;
                height: auto;
              }
            }
          }
        }
      }
    }

    &#section_3 {
      .text-white;

      background-image: url('../../assets/images/pages/home/section_3__background.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      .font-roboto-regular;

      > .container {
        position: relative;
        padding-bottom: 10px;

        > .list {
          margin: 100px 0;
          .row;

          img {
            position: static;
            margin-left: -160px;
            margin-top: 60px;
          }

          > .item {
            .make-md-column(6);

            &#section_3__item_1 {
              img {
                left: -146px;
                top: 61px;
              }
            }

            &#section_3__item_2 {
              padding-left: 151px;
              padding-top: 99px;

              > .title {
                .font-roboto-thin;

                font-size: 60px;
              }

              > .text {
                font-size: 18px;
                padding-top: 34px;
                padding-left: 7px;
                line-height: 29px;
                letter-spacing: -0.1px;

                &#section_3__item_2__text_2 {
                  padding-top: 32px;
                }
              }

              > #section_3__item_2__icon {
                img {
                  top: 417px;
                  left: 160px;
                }

                img:last-child {
                  left: 215px;
                }
              }
            }
          }
        }

        > .line {
          &img {
            position: absolute;
            height: 335px;
            width: auto;
            top: 60px;
            left: -60px;
          }
        }
      }
    }

    &#section_4 {
      .text-center;

      > .container {
        padding-bottom: 560px;
        position: relative;

        > .title {
          padding-top: 82px;
          margin-left: -3px;
        }

        > .description {
          .font-roboto-regular;
          .text-bali-hai;

          margin-top: 35px;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: -0.1px;
        }

        > .block {
          // background: url("../../assets/images/pages/home/section_4__item_1.png");
          // background-position: center center;
          // background-size: 100% auto;
          // background-repeat: no-repeat;

          > .object {
            position: relative;
            z-index: 2;

            > .text {
              width: 300px;

              > .title {
                .font-roboto-bold;

                font-size: 24px;
                letter-spacing: 0.5px;
              }

              > .description {

                .font-roboto-regular;
                .text-bali-hai;

                width: 248px;
                margin-top: 35px;
                font-size: 18px;
                line-height: 29px;
                letter-spacing: -0.2px;
              }
            }

            &#section_4__object_1 {
              .text-left;

              top: 168px;
              left: 41px;

              img {
                top: 23px;
                left: 0;
              }
            }

            &#section_4__object_2 {
              .pull-right;
              .text-right;

              top: 304px;
              right: 38px;

              img {
                top: 24px;
                right: 0;
              }

              > .text {
                > .description {
                  float: right;
                  letter-spacing: 0.3px;
                }
              }
            }
          }

          img {
            position: absolute;
          }

          #section_4__picture {
            position: absolute;
            left: 137px;
            top: 344px;
            z-index: 1;
          }
        }
      }
    }

    &#section_5 {
      .text-center;

      > .container {
        font-size: 18px;
        padding-bottom: 103px;

        > .cards {
          .row;

          margin-top: 74px;

          > .card {

            .make-md-column(4);

            position: relative;
            padding-left: 70px;
            padding-right: 70px;

            img {
              width: 227px;
              height: auto;
            }

            > .text {
              > .title {
                font-size: 24px;
                padding-top: 48px;
                letter-spacing: 0.2px;
              }

              > .pricing {
                .font-roboto-bold;

                margin-top: 24px;
                font-size: 72px;

                > .dollar {
                  font-size: 40px;
                }

                > .period {
                  .text-bali-hai;

                  font-size: 24px;
                }
              }

              > .list {
                margin-top: 20px;
                line-height: 41px;
                list-style-type: none;

                > .item {
                  // img {
                  //   width: 24px;
                  //   height: auto;
                  //   display: inline-block;
                  // }

                  &.do {
                    background-image: url('../../assets/images/pages/home/section_5__check_true.png');
                    background-repeat: no-repeat;
                    background-position: 15px 11px;
                  }

                  &.dont {
                    background-image: url('../../assets/images/pages/home/section_5__check_false.png');
                    background-repeat: no-repeat;
                    background-position: 15px 11px;
                  }

                  span {
                    .text-bali-hai;

                    padding-left: 5px;
                    letter-spacing: 0.3px;
                  }
                }
              }
            }

            &#section_5__card_1 {
              img {
                .pull-right;

                margin-right: 7px;
              }

              > .text {
                margin-right: 8px;

                > .title {
                  margin-left: 5px;
                }

                > .pricing {
                  margin-left: 4px;

                  > .dollar {
                    margin-left: 14px;
                  }

                  > .number {
                    display: inline-block;
                    margin-left: -18px;
                  }

                  > .period {
                    .text-bali-hai;

                    margin-left: -14px;
                  }
                }

                > .list {
                  > .item {
                    &.do {
                    }

                    &.dont {
                    }
                    // img {
                    //   margin: 0 4px 0 0;
                    //   float: none !important;
                    // }
                  }
                }
              }
            }

            &#section_5__card_2 {
              > .text {
                > .title {
                  margin-left: 2px;
                }

                > .pricing {
                  margin-top: 22px;

                  > .dollar {
                    margin-left: 14px;
                  }

                  > .number {
                    display: inline-block;
                    margin-top: 1px;
                    margin-left: -18px;
                  }

                  > .period {
                    margin-left: -14px;
                  }
                }

                > .list {
                  > .item {
                    margin-left: -4px;
                  }
                }
              }
            }

            &#section_5__card_3 {
              > .text {
                margin-left: -20px;

                > .title {
                  margin-left: 23px;
                }

                > .pricing {
                  margin-left: 34px;

                  > .number {
                    margin-left: -18px;
                  }

                  > .period {
                    margin-left: -11px;
                  }
                }

                > .list {
                  padding-left: 43px;

                  > .item {
                    &.do {
                      background-position: 26px 11px;
                    }

                    &.dont {
                      background-position: 15px 11px;
                    }
                  }
                }
              }
            }
          }
        }

        > .description {
          .text-bali-hai;

          padding-top: 131px;
          line-height: 29px;
          padding-left: 19px;
          letter-spacing: 0.1px;
        }

        #section_5__button {
          .text-white;
          .background-dodger;

          position: relative;
          margin-top: 63px;
          margin-left: 3px;
          line-height: 48px;
          padding: 0 62px;
          display: inline-block;
          border-radius: 25px;

          &:hover {
            text-decoration: none;
          }

          &::before {
            content: '';
            border-top: 1px solid @color-geyser;
            width: 230px;
            position: absolute;
            top: 50%;
            left: -160px;
            margin-left: -50%;
          }

          &::after {
            content: '';
            border-top: 1px solid @color-geyser;
            width: 230px;
            position: absolute;
            top: 50%;
            left: 290px;
            margin-left: -25%;
          }
        }
      }
    }
  }

  position: relative;

  @media screen and (max-width: 768px) {
    .section {
      &#section_1 {
        > .container {
          > .list {
            padding-top: 100px;

            > .item {
              margin-top: -50px;
            }

            > #section_1__item_1 {
              padding-left: 15px;
            }
          }
        }
      }

      &#section_2 {
        > .container {
          > .list {
            > .item {
              > .description {
                .text-center;

                > .title {
                  padding-top: 80px;
                }
              }

              #section_2__picture {
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
          }
        }
      }

      &#section_3 {
        > .container {
          > .list {
            margin: 0;

            > .line-item {
              margin-left: 0;
              max-width: 100%;
              height: auto;
            }

            > .item {
              &#section_3__item_1 {
                img {
                  margin: auto;
                  max-width: 100%;
                  height: auto;
                }
              }

              &#section_3__item_2 {
                // .text-center;
                padding-left: 10px;
                padding-top: 0;

                > #section_3__item_2__icon {
                  img {
                    top: 390px;
                  }
                }
              }
            }
          }
        }
      }

      &#section_4 {
        > .container {
          padding-bottom: 80px;

          > .block {
            > .object {
              &#section_4__object_1 {
                top: 30px;
                left: 10px;

                img {
                  width: 90%;
                  top: 45px;
                }
              }

              &#section_4__object_2 {
                top: 0;
                right: 10px;

                img {
                  width: 90%;
                  top: 45px;
                }
              }
            }

            > #section_4__picture {
              position: static;
              width: 100%;
              height: auto;
              margin-top: 50px;
            }
          }
        }
      }

      &#section_5 {
        > .container {
          > .cards {
            > .card {
              padding-left: 0;
              padding-right: 0;

              > .text {
                > .pricing {
                  margin-top: 0 !important;
                }

                > .list {
                  padding-left: 30px;

                  > .item {
                    &.do {
                      background-position: 0 8px;
                    }

                    &.dont {
                      background-position: 0 8px;
                    }
                  }
                }
              }

              &#section_5__card_3 {
                > .text {
                  > .list {
                    > .item {
                      &.do {
                        background-position: 10px 8px;
                      }

                      &.dont {
                        background-position: 10px 8px;
                      }
                    }
                  }
                }
              }
            }
          }

          > .description {
            padding-top: 40px;
            padding-left: 0;
          }

          > #section_5__button {
            &::before {
              width: 160px;
              left: -90px;
            }

            &::after {
              width: 160px;
              left: 280px;
            }
          }
        }
      }
    }
  }

  #overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .text-center;

    opacity: 0.2;
  }
}
