/**
 * Pages - Home
 **************
 */

.page-home{
  #main{
    .section{
      &#section_1{}
      &#section_2{}
      &#section_3{}
      &#section_4{}
      &#section_5{}
      &#section_6{}
    }
  }
}

.page-home{
  .section{
    &{
      >.container{
        >.title{
          .text-center;
          font-size: 39px;
        }
      }
    }
  }
  #section_1 {
    height: 465px;
    .text-center;
    padding: 166px 0;

    >.container {
      >.list{
        .row;

        >.item {
          .make-md-column(4);
          
          >.thumbnail{
            img {
              height: 50px;
              width: auto;
            }
          }
          >.title{
            font-weight: bold;
            margin-top: 42px;
          }
          >.description{
            margin: 23px 0;
          }
          >.actions{
              width: 160px;
              height: 32px;
              display: inline-block;
              margin: 35px 0;
              border: 2px solid @mytic-color;
              border-radius: 12px;
              >.button{
                text-decoration: none;
                .text-black;
                line-height: 25px;
              }
          }
        }
      }
    }
  }

  // position: relative;
  // .overlay{
  //   display: none;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   .text-center;
  //   opacity: 0.5
  // }
}
